{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}
{% block content %}
<div class="container">
  <h1>Password Change</h1>
  <p>Please enter your old password, for security's sake, and then enter
    your new password twice so we can verify you typed it in correctly.</p>
  <form method="POST">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
      <strong>Error:</strong> Please correct the following errors.
    </div>
    {% endif %}
    <div class="form-group">
      <label for="{{ form.old_password.id_for_label }}">Old Password</label>
      {{ form.old_password }}
      {% for error in form.old_password.errors %}
      <small class="form-text text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      <label for="{{ form.new_password1.id_for_label }}">New Password</label>
      {{ form.new_password1 }}
      {% for error in form.new_password1.errors %}
      <small class="form-text text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
      {{ form.new_password2 }}
      {% for error in form.new_password2.errors %}
      <small class="form-text text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <button class="btn btn-success" type="submit">Change my password</button>
  </form>
</div>
{% endblock content %}
